//- banner.jade
div.row.service-container
  div.col-lg-12.service-header
    div.row.header
      div.container
        div.avatar.img-container.col-lg-2.col-md-2.col-sm-2.hidden-xs
        div.col-lg-12.col-md-10.col-sm-10.col-xs-12.dialog-description
          h1(style="font-size:50px;").service-title Mail Buddy
          p The Mail Buddy app helps users to detect emotional words which gives a negative vibe, and suggests them to convey their intentions in a more positive way. 